.footer {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  background-color: #232323;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  /* align-items: flex-starts; */
}

.footer-top {
  width: 80%;
  gap: 5rem;
  justify-content: flex-start;
  display: flex;
}

ul > li > a {
  text-decoration: none;
  color: white;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* border: 2px solid white; */
}

.footer-content > ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-top > :nth-child(1) > h3 {
  font-size: 25px;
}

.footer-top > :nth-child(1) > span {
  line-height: 2rem;
}

.footer-top > :nth-child(1) > :nth-child(3) > button {
  padding: 13px 25px;
  border-radius: 8px;
  border: none;
  background-color: #d74663;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 15px;
}

.sub-btn {
  color: white;
}

.footer-down {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .footer {
    gap: 1rem;
  }
  .footer-top {
    gap: 1rem;
  }
}
